oci_connection = {
  tenancy_ocid     = "<YOUR_TENANCY_OCID>" #"ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  user_ocid        = "<YOUR_USER_OCID>" #"ocid1.user.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  fingerprint      = "<YOUR_API_KEY_FINGERPRINT>"
  private_key_path = "/path/to/your/oci_api_key.pem" $"~/.oci/key-private.pem"
  region           = "<YOUR_REGION>" # e.g., us-phoenix-1
  compartment_ocid = "<YOUR_COMPARTMENT_OCID>"
}

general = {
  compartment_name    = "infrastructure"
  bucket_name         = "backups"
  main_network_cidr   = "172.16.0.0/16"
  private_subnet_cidr = "172.16.0.0/24"
}

vm = {
  name       = "Infrastructure"
  shape      = "VM.Standard.A1.Flex"
  cpus       = 4
  mem_size   = 24
  disk_size  = 100
  image_name = "Canonical-Ubuntu-22.04-aarch64"
  private_ip = "172.16.0.2"
  
  # Add your local machine's SSH Public Key here (e.g., contents of ~/.ssh/id_ed25519.pub)
  ssh_public_keys = [
    "ssh-ed25519 <YOUR_PUBLIC_SSH_KEY> comment"
  ]
  
  os = {
    hostname       = "infravm"
    username       = "infra"
    
    # Optional: DNS servers (Cloudflare defaults)
    force_dns = ["1.1.1.1", "1.0.0.1", "2606:4700:4700::1111", "2606:4700:4700::1001"]

    # WireGuard Server Configuration
    # Replace PrivateKey and PublicKey with keys generated via 'wg genkey'
    wg_config = {
      "wg0" = <<EOF
[Interface]
PrivateKey = <SERVER_PRIVATE_KEY>
Address = 10.200.0.2/32
ListenPort = 51820
DNS = 10.200.0.1
MTU = 1420

[Peer]
# The Public Key of your local client (Laptop/Phone)
PublicKey = <CLIENT_PUBLIC_KEY>
AllowedIPs = 10.200.0.1/32
PersistentKeepalive = 25
EOF
    }
  }
  daily_backups  = 3
  weekly_backups = 2
}

